<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <DoIncludeCurrentProjectInNuSpec>true</DoIncludeCurrentProjectInNuSpec>
  <DoIncludeSources>false</DoIncludeSources>
  <IconUrl>http://project.url/favicon.ico</IconUrl>
  <ProjectUrl>http://project.url</ProjectUrl>
  <LicenseUrl>http://project.url/license</LicenseUrl>
  <Authors>hasael</Authors>
  <Owners>hasael</Owners>
  <Description>Basic Functional libraries in C#</Description>
  <Summary>Basic Functional libraries in C#</Summary>
  <Keywords>Functional, Option, Try, Either</Keywords>
</NuGetPack>